<ion-view view-title="Classement des joueurs">
  <ion-content>
      <h2>Trier par :</h2>
      <div class="buttons" ng-click="clickPredicateAge()">
          <button class="button">Age</button>
      </div>
      <div class="buttons" ng-click="clickPredicateName()">
          <button class="button">Nom</button>
      </div>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists | orderBy: orderByPredicate : orderByReverse" href="#/app/playlists/{{playlist.age}}">
        {{playlist.name}} - {{playlist.age}} ans
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
